/* Basic Styling */

body {
    background-image: url('light_noise_diagonal_@2X.png');
    background-repeat: repeat;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

p {
    line-height: 35px;
}

hr {
    border: 0;
    height: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0px;
}

h1 {
    font-family: 'Georgia', Times, Times, serif;
    color: #4aaaa5;
    font-weight: bold;
    font-size: 30px;
}

h2 { 
    font-family: 'Georgia', Times, Times, serif;
    color: #4aaaa5;
    font-weight: bold;
    font-size: 22px;
}

/* Navigation Bar Styling */
.navbar-default {
    height: 90px;
    border-bottom: 2px;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
    border-radius: 0px;
}

.container-fluid {
    max-width: 960px;
}

.navbar-default .navbar-brand {
    color: white;
    background-color: #4aaaa5;
    width: 350px;
    height: 87px;
    padding: 35px 35px;
}

.navbar-brand {
    text-align: center;
    font-family: 'Georgia', Times, Times, serif;
    color: white;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 2px;
}

/* Remove Hover */
.navbar-default .navbar-brand:hover, 
.navbar-default .navbar-brand:focus {
  background-color: #4aaaa5;
  color: white;
}
/* End Remove Hover */

.nav  {
    float: right;
    font-size: 18px;
    padding-top: 34px;
    max-width: 100%;
    margin-right:-10px;
}

.navbar a {
    color: #999999 !important ;
}

.nav ul {
    width: 100%;
    
}

.nav li {
    float: left;    
}

.nav li+li {
    border-left: 1px solid #dbdbdb;
    padding-left: 20px;
}

.nav li:nth-child(-n+2){
    padding-right: 20px;
}


.navbar-nav>li>a {
padding: 0px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #C7C7C7;
}

.navbar-default .navbar-nav > li > a:focus {
    color: #777777;
}

.navbar-default .navbar-nav > li > a:active {
    color: #777777;
}

/* Content Styling */

.container {
    margin: auto;
    width: 960px;
}

#about-image {
    float: left;
    padding: 12px 25px 0px 0px;
    width: 100%;
    max-width: 250px;
}

.content {
    background-color: white;
    padding: 0px 25px 15px 25px;
    margin-left: -13px;
    margin-right: 40px;
    margin-bottom: 100px; 
    border: 1px;
    border-style: solid;
    border-color: #cccccc;    
}

.connect {
    background-color: white;
    border: 1px;
    border-style: solid;
    border-color: #cccccc;
    padding-bottom: 20px;
}

.connect img {
    display: inline-block;
    width: 32.09%;
}

/* Portfolio Styling */
.img-wrapper-1 img, .img-wrapper-2 img, .img-wrapper-3 img {
    max-width: 100%;
}

.img-wrapper-1 a, .img-wrapper-2 a, .img-wrapper-3 a {
    color: white;
}

.img-wrapper-1, .img-wrapper-2, .img-wrapper-3 {
    display: inline-block;
    position: relative;
    text-align: center;
    color: white;
    font-family: 'Georgia', Times, Times, serif;
    font-size: 20px;
}

.img-wrapper-2, .img-wrapper-3 {
    padding-top: 25px;
}

.img-wrapper-3 {
    padding-bottom: 10px;
}

.centered {
    position: absolute;
    background-color: #4aaaa5;
    width: 291px;
    top: 75%;
    left: 50.05%;
    transform: translate(-50%, -50%);
    padding: 15px 0px 15px 0px;
}

.centered:hover {
        background-color: #3A8883;
}

/* Contact Styling */
label {
    font-weight: normal;
    font-size: 16px;
}

.btn {
    background-color: #4aaaa5;
    border-style: none;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    font-size: 14px;
    border-radius: 0px;
    margin-top: 20px;
    width: 25%;
}

.form-control {
    border-radius: 0px;
}

.btn:hover {
    background-color: #3A8883;
    cursor: pointer;
    color: white;
}
/* Footer Styling */

.footer {
    padding: 15px 10px;    
    background-color: #666666;
    border-top: 8px;
    border-top-style: solid;    
    border-top-color: #4aaaa5;
    color: rgba(255,255,255,0.6);
    font-size: 12px;
    text-align: center;
}

.footer .container {
    padding-right: 15px;
    padding-left: 15px;
}

/* Media Queries */
@media screen and (max-width: 980px){

    /* Basic Styles 980px */
    h2 { 
        font-size: 18px;
    }

    /* Header Styles 980px */

    .container-fluid {
        width: 730px;
    }

    /* Content Styles 980px */
    .container {
        width: 730px;
    }

    .content {
        width: 67%;
        float: left;
    }

    /* Contact Styles 980px */
    .connect {
        float: left;
        width: 30%;        
    }

    .connect img {
        width: 31.75%;
        height: 31.75%;
    }

    /* Portfolio Styles 980px */
    .img-wrapper-1 img, .img-wrapper-2 img, .img-wrapper-3 img {
        width: 416px;
    }

    .img-wrapper-1 {
        padding-bottom: 25px;
    }

    .img-wrapper-2:first-child {
        padding-top: 0px;
    }

    .centered {
        width: 416px;
    }
}

@media screen and (max-width: 768px){

    /* Basic Styles 768px */
    h2 {
        font-size: 20px;
    }
    
    /* Header Styles 768px */

    .container-fluid {
        width: 650px;
        margin: auto;
        overflow: auto;
    }

    .navbar-default .navbar-brand {
        width: 345px;
        padding-left: 10px;
        padding-right: 10px;
    }        

    .nav  {
        float: right;
        margin-top: -85px;
        padding-top: 34px;
    }

    /* Content Styles 768px */

    .container {
        width: 650px;
    }

    .content {
        width: 650px;
        margin-bottom: 20px;
    }

    /* Contact Styles 768px */

    .connect {
        margin-left: 2px;
        margin-bottom: 100px;
        width: 650px;
    }

    .connect img {
        width: 15%;
    }

    /* Portfolio Styles 768px */

    .img-wrapper-1 img, .img-wrapper-2 img, .img-wrapper-3 img {
        width: 281px;
    }

    .img-wrapper-2 {
        padding-top: 0px;
    }

    .centered {
        width: 281px;
        top: 67%;
    }
}

@media screen and (max-width: 640px){

    /* Basic Styles 640px */    
    h2 {
        font-size: 20px;
    }

    /* Header Styles 640px */ 

    .navbar-default {
        height: 150px;
    }

    .container-fluid {
        width: 100%;
        margin: auto;
    }

    .navbar-default .navbar-brand {
        width: 100%;
    }
    
    .nav  {
        float: none;
        margin-top: -15px;
        margin-left: 135px;
    }

    /* Content Styles 640px */

    .container {
        width: 500px;
        margin-left: 80px;
    }

    .content {
        width: 445px;
        margin-bottom: 20px;
    }

    /* Contact Styles 640px */

    .connect {
        width: 445px;
    }

    /* Portfolio Styles 768px */ 

    .img-wrapper-1 img, .img-wrapper-2 img, .img-wrapper-3 img {
        width: 445px;
    }

    .img-wrapper-2 {
        padding-top: 25px;
    }

    .centered {
        width: 392px;
    }
}